<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/blocktypes" routerLinkActive="active">Link to List BlockTypeList</a>
    </div>
    <div>
        <a routerLink="/types" routerLinkActive="active">Link to List ItemTypeList</a>
    </div>
    <div>
        <a routerLink="/items" routerLinkActive="active">Link to List ItemList</a>
    </div>
    <div>
        <a routerLink="/roles" routerLinkActive="active">Link to List RoleList</a>
    </div>
    <div>
        <a routerLink="/blocks" routerLinkActive="active">Link to List BlockList</a>
    </div>
 <!-- END LINKS -->
</div>