<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Item List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group ">
                        <input type="checkbox" [(ngModel)]="search.Active" name="Active">
                        <label>Active</label>
                    </div>
                    <div class="form-group">
                        <label for="Created">Created</label>
                        <input type="number" class="form-control" id="Created" [(ngModel)]="search.Created" name="Created" #Created="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Data">Data</label>
                        <input type="text" class="form-control" id="Data" [(ngModel)]="search.Data" name="Data" #Data="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Modified">Modified</label>
                        <input type="number" class="form-control" id="Modified" [(ngModel)]="search.Modified" name="Modified" #Modified="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Order">Order</label>
                        <input type="number" class="form-control" id="Order" [(ngModel)]="search.Order" name="Order" #Order="ngModel">
                    </div>
                    <div class="form-group ">
                        <input type="checkbox" [(ngModel)]="search.Protected" name="Protected">
                        <label>Protected</label>
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <input type="text" class="form-control" id="Status" [(ngModel)]="search.Status" name="Status" #Status="ngModel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Active</th>
            <th scope="col">Created</th>
            <th scope="col">Data</th>
            <th scope="col">Modified</th>
            <th scope="col">Order</th>
            <th scope="col">Protected</th>
            <th scope="col">Status</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'Active': search.Active, 'Created': search.Created, 'Data': search.Data, 'Modified': search.Modified, 'Order': search.Order, 'Protected': search.Protected, 'Status': search.Status }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/items/', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.Active }}</td>
            <td>{{item.Created }}</td>
            <td>{{item.Data }}</td>
            <td>{{item.Modified }}</td>
            <td>{{item.Order }}</td>
            <td>{{item.Protected }}</td>
            <td>{{item.Status }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'Active': search.Active ,  'Created': search.Created ,  'Data': search.Data ,  'Modified': search.Modified ,  'Order': search.Order ,  'Protected': search.Protected ,  'Status': search.Status  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/items/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>